:root {
  --header-font-family: "Alegreya", serif;
  --secondary-font-family: "Lato", sans-serif;
}

body {
  text-align: center;
}

h1 {
  font-family: var(--header-font-family);
  font-size: 90px;
}

h2 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 40px;
}

p {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 50px;
}

.content {
  font-family: var(--secondary-font-family);
  font-size: 20px;
}

.hero {
  background-color: rgb(213, 219, 219, 0.6);
  padding: 120px 15px;
}
