:root {
  --header-font-family: "Alegreya", serif;
  --secondary-font-family: "Lato", sans-serif;
}

body {
  text-align: center;
}

h1 {
  font-family: var(--header-font-family);
  font-size: 90px;
}

h2 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 40px;
}

p {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 50px;
}

.content {
  font-family: var(--secondary-font-family);
  font-size: 20px;
}

.hero {
  background-color: rgb(213, 219, 219, 0.6);
  padding: 120px 15px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 60px;
  }
  h2,
  p {
    font-size: 35px;
  }
}

@media (max-width: 576px) {
  .about-hero .btn {
    margin-bottom: 30px;
  }
  .about-hero h1 {
    margin-top: -100px;
  }
}

.about-me {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-hero {
  margin-top: 100px;
  padding-right: 30px;
}
.about-me h1 {
  font-size: 60px;
  font-family: var(--header-font-family);
}

.about-me h2 {
  font-size: 18px;
  font-family: var(--secondary-font-family);
}

.about-me p {
  font-size: 16px;
  font-family: var(--secondary-font-family);
}

.content-container {
  margin-top: 100px;
}

.content h1 {
  font-size: 64px;
  font-family: var(--header-font-family);
  padding-bottom: 50px;
}
.content h3 {
  font-size: 50px;
  font-family: var(--header-font-family);
}

.content p {
  font-size: 20px;
  font-family: var(--secondary-font-family);
}
