:root {
  --header-font-family: "Alegreya", serif;
  --secondary-font-family: "Lato", sans-serif;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 60px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover,
nav li.active a {
  color: blue;
}

footer {
  margin: 60px 0px;
}

footer p {
  font-size: 16px;
  margin-top: 20px;
}

footer .contact-box {
  background-color: rgb(213, 219, 219, 0.6);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  font-size: 20px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

footer .social-links a {
  margin: 0 20px;
  color: black;
  padding: 10px 14px;
  font-size: 18px;
}

footer .social-links a:hover {
  color: blue;
}

footer .email-link:hover {
  color: blue;
}

h1 {
  font-family: var(--header-font-family);
  font-size: 90px;
}

h2 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 40px;
}

h4 {
  font-size: 48px;
  font-family: var(--header-font-family);
}

p {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.content {
  font-family: var(--secondary-font-family);
  font-size: 20px;
}

.hero {
  background-color: rgb(213, 219, 219, 0.6);
  padding: 120px 15px;
  text-align: center;
}

@media (max-width: 576px) {
  h1 {
    font-size: 60px;
  }
  h2,
  p {
    font-size: 35px;
  }
  .about-hero {
    text-align: center;
  }
  .about-hero .btn {
    margin-bottom: 30px;
  }
  .about-hero h1 {
    margin-top: -150px;
  }
}

.about-me {
  margin-top: 100px;
  margin-bottom: 100px;
}

.about-hero {
  margin-top: 100px;
  padding-right: 30px;
}
.about-me h1 {
  font-size: 60px;
  font-family: var(--header-font-family);
}

.about-me h2 {
  font-size: 18px;
  font-family: var(--secondary-font-family);
}

.about-me p {
  font-size: 16px;
  font-family: var(--secondary-font-family);
}

.content-container {
  margin-top: 100px;
}

.content h1 {
  font-size: 64px;
  font-family: var(--header-font-family);
  padding-bottom: 50px;
}
.content h3 {
  font-size: 50px;
  font-family: var(--header-font-family);
  text-align: center;
}

.content p {
  font-size: 20px;
  font-family: var(--secondary-font-family);
}

.contact-btn {
  text-align: center;
}
